{% load staticfiles %}
{% load material_form %}
{% load tempo_atual %}

<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>moBike</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <!-- css files -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        <!-- bootstrap -->
    </head>
    <body>

        <div class="container-fluid">
         <div class="row">
          <div class="col-md-2 bg-light">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" href="{% url 'home' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">Início</a>
              <a class="nav-link active" href="#" role="tab" aria-controls="v-pills-ciclistas" aria-selected="false">Ciclistas</a>
              <a class="nav-link" href="{% url 'entregas' %}" role="tab" aria-controls="v-pills-entregas" aria-selected="false">Entregas</a>
              <a class="nav-link" href="#" role="tab" aria-controls="v-pills-logout" aria-selected="false">Logout</a>
                <br>
                <b>Hora: {% tempo_atual %}</b>
            </div>
          </div>
             <div class="col-md-5">
                 <div class="ciclistas">
                     <form method="POST">
                         <h1>Adicionar Ciclista</h1>
                         {% csrf_token %}
                         {% form %}
                         {% part form prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                         {% endform %}
                         <button type="submit" class="btn">Adicionar</button>
                     </form>
                     <br>
                </div>
             </div>
        <div class="cic col-md-5">
            <div>
                <ul class="list-group">
                  {% for c in ciclistas %}
                    <li class="list-group-item justify-content-between">
                        <b>{{c}}</b>
                        <a href="{% url 'deleta_ciclista' pk=c.id %}" class="aux btn badge-default">Excluir</a>
                  </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
        </div>

        <script>
            function initMap(){
                var options = {
                    zoom:14.67,
                    center:{lat:-29.709018,lng:-53.7337614}
                }

                var map = new google.maps.Map(document.getElementById('map'),options);

                // pegando os markers do bd
                var markers = [
                    {% for entrega in entregasAtivas %}
                        // coleta
                        {
                            coords:{lat: {{entrega.lat_coleta}},lng:{{entrega.lng_coleta}} },
                            content:'Coleta: {{entrega.desc}}'
                        },
                        // entrega
                        {
                            coords:{lat: {{entrega.lat_entrega}},lng:{{entrega.lng_entrega}} },
                            content:'Entrega: {{entrega.desc}}'
                        },
                    {% endfor %}
                ];

                // loop through markers
                for(var i=0;i<markers.length;i++){
                    addMarker(markers[i]);
                }

                // Add Marker Function
                function addMarker(props){
                    var marker = new google.maps.Marker({
                        position: props.coords,
                        map:map
                    });

                    // check for custom icon
                    if(props.iconImage){
                        // set icon image
                        marker.setIcon(props.iconImage);
                    }
                    // check content
                    if(props.content){
                        var infoWindow = new google.maps.InfoWindow({
                            content:props.content
                        });

                        marker.addListener('click', function(){
                            infoWindow.open(map,marker);
                        });
                    }
                }
            }


        </script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDmhhr_81wgfC0l_80i4nMxiDyZmlxwgI&callback=initMap"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>