{% extends 'home/base.html' %}

{% block content %}

    <div class="entregas">
        {% for entrega in entregasAtivas %}
        <p><b>Ciclista:</b> {{ entrega.ciclista }}</p>
        <p><b>Endereço de coleta:</b> {{ entrega.end_coleta }}</p>
        <p><b>Endereço de entrega:</b> {{ entrega.end_entrega }}</p>
        <p><b>Descrição:</b> {{ entrega.desc }}</p>
        <p><b>Horário:</b> {{entrega.data}}</p>
            <a href="{% url 'deleta_entregaativa' pk=entrega.id %}" class="btn">Excluir</a>
        <br><br><br>
        {% endfor %}
    </div>

{% endblock %}


