{% extends 'home/base.html' %}
{% load tempo_atual %}

{% block content %}
     <div class="detalheEntrega">
         <h5><b>Informações da entrega</b></h5>
         <br>
         {% if entrega.ciclista != None %}
         <ul>
            <li><b>Ciclista:</b> {{entrega.ciclista}}</li>
            <li><b>Endereço de coleta:</b> {{entrega.end_coleta}}</li>
            <li><b>Endereço de entrega:</b> {{entrega.end_entrega}}</li>
            <li><b>Descrição de entrega:</b> {{entrega.desc}}</li>
            <li><b>Data de criação da entrega:</b> {{entrega.data|date:"d/m/Y"}}</li>
            <li><b>Tempo de execução:</b> </li>
         </ul>
         {% else %}
         <ul>
            <li><b>Ciclista:</b> Nenhum</li>
            <li><b>Endereço de coleta:</b> {{entrega.end_coleta}}</li>
            <li><b>Endereço de entrega:</b> {{entrega.end_entrega}}</li>
            <li><b>Descrição de entrega:</b> {{entrega.desc}}</li>
            <li><b>Data de criação da entrega:</b> {{entrega.data|date:"d/m/Y"}}</li>
            <li><b>Tempo de execução:</b> </li>
         </ul>
         {% endif %}
     </div>

<!-- <div class="col-md-5">
         <div id="map-canvas"></div>
         <input type="button" id="routebtn" value="Rota planejada" onclick = ";" />
     </div> -->

{% endblock %}