h1 {
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.margem {
    padding: 50px;
    background-color: #232323;
}

.container-fluid {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.btn {
	margin-top: 10px;
}

.nav {
    margin-top: 20px;
}

.nav-link {
	padding: 15px;
}

.form {
    margin-left: 50px;
}

textarea {
	width: 60%;
	height: 30%;
	resize: none;
}

.entregas {
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-right: 50px;
}