h1 {
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.form {
    margin-left: 20px;
  	resize: horizontal;
}

textarea {
	width: 60%;
	height: 30%;
	resize: none;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-right: 50px;
}