h1 {
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    font-family: 'roboto';
}

h2, h3, h4, h5 {
	color: black;
}

td a {
	color: inherit;
} 

li a {
	color: inherit;
}

b {
    margin-top: 390px;
}

h5 {
	text-align: center;
	padding-bottom: 10px;
}

.entdesc {
	font-size: 20px;
	padding-top: 40px;
}

.margem {
    padding: 50px;
    background-color: #232323;
}

.container-fluid {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.btn {
	margin-top: 10px;
}

.nav {
    margin-top: 20px;
}

.nav-link {
	padding: 15px;
}

.form {
    margin-left: 50px;
}

textarea {
	width: 60%;
	height: 30%;
	resize: none;
}

.material-icons:hover {
	color: black;
}

.aux {
	margin-right: 7px;
	float: right;
}

.aux:hover {
	color: inherit;
}

.aux2:hover {
	color: inherit;
}

.detalheEntrega {
	padding: 25px;
}

.detalheEntrega li {
	padding-bottom: 5px;
	font-size: 18px;
}

.modocic {
	padding-bottom: 5px;
	font-size: 17px;
}

.excluient {
	padding: 30px;
	font-size: 17px;
	margin-left: 15px;
}

.excluient li {
	padding-bottom: 5px;
}

.excluicic {
	padding: 35px;
}

.cic {
	margin-top: 3%;
}

.entregas {
    text-align: center;
}

#map {
    height: 75%;
    width: 100%;
    margin-top: 50px;
    margin-right: 50px;
}

#map-canvas {
    height: 75%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.desktop {
  visibility: visible;
}

.mobile {
  visibility: hidden;
}

@media(max-width: 700px) {

  .desktop {
    visibility: hidden;
  }

  .mobile {
	visibility: visible;
	height: 250px !important;
	width: 240px;
	margin-left: 20%;
  }

  .mobile a {
  	margin-top: 115px;
  }
}

@media(max-width: 775px) {	
  .menu {
  	height: 230px;
  	margin-bottom: 15px;
  }

  .hora {
  	visibility: hidden;
  }
}